
<h1 class="animated fadeIn mt-3">{{ infoHero.nombre | uppercase }} | <small>( {{infoHero.aparicion | date:'y' }} )</small> </h1>
<hr>

<div class="row animated fadeIn fast">
    <div class="col-md-4 centrar mb-4">
        <img [src]="infoHero.img" [alt]="infoHero.nombre" class="img-fluid mb-3">
        <br>
        <a [routerLink]="['/heros']" class="btn btn-outline-danger" >Come Back..</a>
    </div>

    <div class="col-md-8">
        <h3>{{ infoHero.nombre}} </h3>
        <hr>
        <p>
            {{ infoHero.bio}}
        </p>
        <div class="mb-3">
            <img *ngIf="infoHero.casa == 'DC'; else Marvel" class="img-logo" src="/assets/dc_comic.png" alt="logo DC comics">
            <ng-template #Marvel><img class="img-logo" src="/assets/marvel.png" alt="logo Marvel"></ng-template>            
        </div>
    </div>

</div>